doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/css/spectre.min.css')
    link(rel='stylesheet', href='/static/css/spectre-icons.min.css')
    link(rel='stylesheet', href='/static/css/custom.css')
    link(rel='icon', type='image/png', href='/static/images/favicon.png')

    title #{title} | Crypto News
  body
    div.container
      header.navbar.bg-secondary
        section.navbar-section
          a(class='btn btn-link' href='/') new
          a(class='btn btn-link' href='/comments') comments
          a(class='btn btn-link' href='/show') show
          a(class='btn btn-link' href='/ask') ask
        section.navbar-center
          a(href='/' class='logo')
            img(src='/static/images/favicon.png')
        section.navbar-section
          a(class='btn btn-link' href='/submit') Submit
          if !user
            a(class='btn btn-link' href='/login') Login
          else
            a(class='btn btn-link' href='/user/' + user.username) #{user.username} (#{user.karma})
            a(class='btn btn-link' href='/logout') Logout
      block content