mixin loginRegisterForm(action)
  form(action='/' + action, method='post')
    div.form-group
      label.form-label(for= action + '-username') Username
      input.form-input(type='text', name='username', id= action + '-username', placeholder='Type your username')
    div.form-group
      label.form-label(for= action + '-password') Password
      input.form-input(type='password', name='password', id= action + '-password', placeholder='Type your password')
    div.form-group
      button.btn(type='submit') #{action}

mixin errorBlock(errors)
  if errors && errors.length > 0
    div.toast.toast-error
      each err in errors
        p=err

mixin successBlock(success)
  if success && success.length > 0
    div.toast.toast-success
      p=success