mixin loginRegisterForm(action)
  form(action='/' + action, method='post')
    div.form-group
      label.form-label(for= action + '-username') Username
      input.form-input(type='text', name='username', id= action + '-username', placeholder='Type your username', required)
    div.form-group
      label.form-label(for= action + '-password') Password
      input.form-input(type='password', name='password', id= action + '-password', placeholder='Type your password', required)
    div.form-group
      button.btn(type='submit') #{action}

mixin notificationBlock(elements, type)
  if elements && elements.length > 0
    div(class='toast toast-' + type)
      each val in elements
        p=val
