extends ./common/layout.pug
include ./common/mixins.pug

block content
  if current_element == 'show' || current_element == 'ask'
    -var label1 = 'You might miss something, just look at the '
    -var label2 = ' stories to be always updated.'
    div.toast.toast-primary
      span=label1
      a(href= '/' + current_element + 'new')='newest'
      span=label2
  if current_element == 'submissions' && (!stories || stories.length == 0)
    +notificationBlock(['This user has never posted something'], 'primary')
  div.columns.spacer
    div.column.col-12.stories
      -var n = 0;
      if stories
        each story in stories
          -n++;
          +storyRender(story, user_vote_mapping, can_downvote, n, current_page, page_size)
  if has_next
    +pager('/', next_page)