extends ./common/layout.pug
include ./common/mixins.pug

block content
  +notificationBlock(errors, 'error')
  div.columns.spacer
    div.column.col-12.stories
      +commentRender(comments[0], comments_vote_mapping, can_downvote, true, 0)
  div.columns
    div.column.col-12
      +addCommentForm(story._id, comments[0]._id)
  div.columns.spacer.stories
    +commentTree(comments[0].children, comments_vote_mapping, can_downvote, 0)