extends ../common/layout.pug
include ../common/mixins.pug

block content
  div.columns.spacer
    div.column.col-12
      div.empty
        div.empty-icon
          i.icon.icon-stop.icon-4x
        p.empty-title 
          h5 argh... our code-monkey might have made some mistakes